@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment1</h1>
    <p class="lead">Welcome to my first web application using ASP.NET MVC5.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank" > Click here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Profile</h2>
        <p>
            This is Umme Kulsum. I want to be a good programmer in every sector. My education background was Mathematics(Hons), Msc, BEd, MEd(Education). I was a high school mathematics teacher in Bangladesh.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865" target="_blank" > Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More About Me</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866" target="_blank"> Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Website</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867" target="_blank"> Click here &raquo;</a></p>
    </div>
</div>