@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment2</h1>
    <p class="lead">Welcome to my 2nd web application using ASP.NET MVC5.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank"> Click here &raquo;</a></p>
</div>

<div class="row">
<p>Thanks</p>
</div>